<form class="login-customer-form" [formGroup]="loginCustomerForm" (ngSubmit)="loginCustomer()">
  <h2>Customer Login</h2>

  <mat-form-field>
    <mat-label>Enter email</mat-label>
    <input matInput placeholder="Ex. john@doe.com" formControlName="email"/>
    @if (loginCustomerForm.get('email')?.invalid) {
      <mat-error>Your email is invalid</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter password</mat-label>
    <input type="password" matInput placeholder="********" formControlName="password"/>
    @if (loginCustomerForm.get('password')?.invalid) {
      <mat-error>Password is required</mat-error>
    }
  </mat-form-field>
  <button [disabled]="loginCustomerForm.invalid" mat-fab extended color="primary" type="submit">Login customer</button>

  <div class="secondary-cta">
    <p>Not a member?</p>
    <a routerLink="/register">register now!</a>
  </div>

</form>
