<div>
  <button mat-raised-button color="primary" routerLink="/register" routerLinkActive="active">Register Customer</button>
  <button mat-raised-button color="primary" routerLink="/admin/login" routerLinkActive="active">Login Admin</button>
  <button mat-raised-button color="primary" routerLink="/staff/login" routerLinkActive="active">Login Staff</button>
  <button mat-raised-button color="primary" routerLink="/customer/login" routerLinkActive="active">Login Customer</button>
</div>

<router-outlet />

