.store-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 32px 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.store-card {
  width: 240px;
}

div.swiper-button-next {
  color: white !important;
}

/* TODO: Change swiper navugation buttons color to match website theme */
